@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #eee;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #c84630, #9e0031, #ffdc5e, #f75c03);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
input,
textarea,
button {
    background: transparent;
    border-radius: 0;
    font-size: 0.95rem;
}
.container {
    display: flex;
    width: 400px;
    max-height: 90%;
}
.todo {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.739);
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.216);
    border-radius: 1rem;
    overflow-y: hidden;
}
.header{
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #eee;
}
.header span {
    font-size: 14px;
}
.input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.add-input {
    width: 70%;
}
.add-btn {
    padding: 5px 15px;
    border-radius: 1rem;
    border: 1px solid #eee;
    background-color: #eee;
    color: #333;
    transition: all .3s ease-in;
}
.add-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #eee;
}
.list {
    overflow: auto;
}
.list::-webkit-scrollbar {
    width: 8px;
}
.list::-webkit-scrollbar-button {
    height: 5px;
}
.list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.216);
    border-radius: 40px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #bbbdc750;
}
.card-left{
    width: 90%;
    display: flex;
    align-items: center;
}
.card-info {
    overflow-x: hidden;
}
.card-info .task {
    overflow-x: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.card.resolved {
    background: #b7ddf33d;
}
.card.resolved .card-info {
    opacity: 0.5;
}
.card.resolved .card-info .task {
    text-decoration: line-through;
}
.card .resolved-btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #bbbdc7;
    color: #00000000;
    cursor: pointer;
    margin-right: 10px;
}
.card .resolved-btn.active {
    background: #6ebb95;
    color: #ffffff;
    border-color: #5ea180;
}
.resolved .resolved-btn {
    background: #6ebb95;
    color: #ffffff;
    border-color: #5ea180;
}
.card .delete-btn {
    visibility: visible;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #e75978;
    color: #e75978;
    cursor: pointer;
    transition: all .15s ease-in;
}
.card:hover {
    background: #c4e9ff23;
}
@media(min-width:768px) {
    .container{
        width: 550px;
        max-height: 85%;
    }
}
@media(min-width:992px){
    .card .delete-btn {
        visibility: hidden;
    }
    .card:hover .delete-btn {
        visibility: visible;
    }
}